* {
  background-color: #d6d6d6;
  margin: 0;
  padding: 0;
}

.home {
  color: #4e4e4e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 700px;
  align-items: center;
  margin: 0 auto;
  flex: wrap;
}

.logo-nav {
  display: flex;
  gap: 200px;
  padding: 20px;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

nav {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 800px;
  align-items: center;
  font-size: 18px;
  font-family: "Share Tech Mono", monospace;
  font-weight: 700;
}

.hamburger {
  display: none;
}

.logo {
  width: 150px;
  height: auto; /* Automatically adjust height based on width */
}

.intro-profile {
  display: flex;
  gap: 350px;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.intro {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.name {
  font-size: 50px;
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.position {
  font-size: 33px;
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.short-desc {
  font-size: 25px;
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;
  max-width: 320px;
  text-align: justify;
}

.resume {
  margin: 0 auto;
  height: 40px;
  background-color: #0029bce0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  color: #d6d6d6;
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.profilePhoto {
  width: 320.8px;
  height: 340x;
}

.scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 30px;
  font-family: "Fira Code", monospace;
  font-size: 20px;
  color: #4e4e4e;
  opacity: 1;
  visibility: visible;
  transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.svg {
  display: flex;
  flex-direction: column;
  color: #0029bce0;
  gap: 0;
  margin-bottom: -10px;
}

.svg svg {
  animation: bounce 2s infinite;
}

.svg svg:nth-child(1) {
  animation-delay: 0.2s;
}

.svg svg:nth-child(2) {
  animation-delay: 0s;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(4px);
    opacity: 50%;
  }
}

/* media query for mobile */
@media (max-width: 768px) {
  .home {
    height: 2000px;
  }

  .logo-nav {
    display: flex;
    justify-content: space-around;
  }
  nav {
    display: none;
  }

  .hamburger {
    display: block;
    font-size: 50px;
    color: #0029bce0;
    z-index: 2;
  }
  .logo-nav {
    display: flex;
    gap: 540px;
    margin-left: 130px;
  }
  .responsive-nav {
    position: fixed;
    right: 0px;
    height: 100%;
    width: 75%;
    background-color: #9d9d9d;
    display: flex;
    flex-direction: column;
    top: 0px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 100px;
  }
  .hamburgerToggle {
    background-color: #9d9d9d;
    transform: rotate(45deg);
  }

  nav li {
    font-size: 40px;
    background-color: #9d9d9d;
    margin-top: 4%;
    margin-left: 10%;
  }

  /* ab ate hai hone page ke intro-profile part me  */
  .intro-profile {
    width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    height: 1600px;
  }

  .intro {
    margin-top: 100px;
    width: 800px;
    height: 600px;
    display: flex;
    align-items: center;
    gap: 50px;
  }
  .intro li {
    width: 700px;
    display: flex;
  }

  .intro .name {
    font-size: 100px;
    letter-spacing: 4px;
  }

  .intro .position {
    font-size: 70px;
  }

  .intro .short-desc {
    max-width: 700px;
    font-size: 50px;
    letter-spacing: 2px;
    word-spacing: 4px;
  }

  .intro .resume {
    height: 60px;
    font-size: 30px;
  }
  .profilePhoto {
    width: 700px;
    height: 700px;
  }

  .scroll {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    height: 600px;
    width: 1050px;
    z-index: -1;
    margin-bottom: 200px;
    opacity: 1;
    visibility: visible;
    transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }

  .hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }
}

/* home page complete */

.webDevPtoggle{
  display: none;
}